<?xml version="1.0"?>
<launch>
  <!-- Send the hdfc urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find hdf_model)/robots/hdf_model.xacro'"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
   <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find hdf_urdf)/rviz_cfg/diff.rviz"/-->


  <!--node pkg="tf" type="static_transform_publisher" name="base_link_base_footprint" args="0 0 -0.16358 0 0 0 1 base_footprint base_link 10" /-->
  
  
	
 
 <!--for proper visualization in rviz -->
   <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  
</launch>
