<?xml version="1.0"?>
<launch>

<node pkg="rosbag" type="play" name="player" output="screen" args=" -r 1.0 --clock /home/asimov/dora_ws/src/eva_arm_controller/bag/Hi.bag pan_controller_command:=/pan_controller/command /front_left_wheel_joint_command:=/front_left_wheel_joint/command /front_right_wheel_joint_command:=/front_right_wheel_joint/command /joint1_command:=/joint1_controller/command /joint2_command:=/joint2_controller/command  /joint3_command:=/joint3_controller/command  /joint4_command:=/joint4_controller/command /joint5_command:=/joint5_controller/command  /joint6_command:=/joint6_controller/command /joint7_command:=/joint7_controller/command /joint8_command:=/joint8_controller/command"/>

</launch>
