<launch>
  <master auto="start"/>
  
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="25.0" />
    <rosparam file="$(find hdf_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find hdf_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find hdf_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find hdf_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find hdf_nav)/config/base_local_planner_params.yaml" command="load" /> 

    <!--arg name="cmd_vel" /-->
    <remap from="/cmd_vel" to="/diffbot_controller/cmd_vel"/>
  </node>



  <!--node pkg="gmapping" type="slam_gmapping" respawn="false" name="slam_gmapping" args="scan:=scan" >
  </node-->

</launch>
